.mainLCframe {
    position: absolute;
    width: 1440px;
    height: 690px;
    left: 44px;
    top: 18px;
    background: rgba(78, 0, 206, 0.94);
    border-radius: 10px;
}

.dashboard {

    position: absolute;
    width: 302px;
    height: 688px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #2C2F48;
}

/*.userImg {
   position: absolute;
width: 32px;
height: 32px;
left: 34px;
top: 27px;

background: whiteurl(photo-1573039797694-30c7846ddba5.png);
border-radius: 4px;
}*/

.lcheading {
    position: absolute;
    width: 318px;
    height: 24px;
    left: 690px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.36px;

    color: #FFFFFF;
}

#search {
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 25px;
    left: 1270px;
    top: 40px;
    padding-left: 50px;
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.user {
    position: absolute;
    color: #FFFFFF;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 60px;
    top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

}

.explore {
    position: absolute;
    color: #FFFFFF;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 20px;
    top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.001);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
}

.item1 {
    color: #FFFFFF;
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.36px;


}

.item2 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 190px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

.item3 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 230px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

.item4 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 270px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

.item5 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 310px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

.item6 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 350px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

.item7 {
    position: absolute;
    width: 244px;
    height: 44px;
    padding-left: 25px;
    left: 30px;
    top: 390px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.36px;


}

#d {
    color: #FFFFFF;
}

#d:hover {
    background: #FFFFFF;
    color: #2C2F48;
    border-radius: 10px;
    padding: 10px;

}
